<div class="lg:bg-none bg-[url(assets/imgs/bg-logo-mobile.png)] bg-no-repeat  bg-left-bottom  ">
    <img class="block m-auto" src="assets/imgs/logo.png">
    <p class=" text-xl font-bold text-center text-primary mb-11  mt-[30px] ">
        قم بإنشاء حسابك وأطلب إنضمامك لأسرة فوترة
    </p>
    <field label="الإسم رباعي" type="text" placeholder="أدخل إسمك الرباعي" icon="assets/icons/user-field.svg"></field>

    <fwtr-select class=" block mt-5" placeholderSearch="بحث عن دولة" placeholder="اختر الدولة"
        icon="assets/icons/location-field.svg" label="الدولة"></fwtr-select>
    <fwtr-select class=" block mt-5" placeholderSearch="بحث عن منطقة" placeholder="المحافظة / المنطقة"
        icon="assets/icons/area-field.svg" label="إختر المحافظة / المنطقة"></fwtr-select>
    <field class=" block mt-5" label="البريد الالكتروني" type="email" placeholder="ادخل بريدك الالكتروني"
        icon="assets/icons/email-field.svg"></field>
    <field class=" block mt-5" label="رقم الجوال" type="email" placeholder="ادخل رقم جوال للتواصل"
        icon="assets/icons/mobile-field.svg"></field>
    <field class=" block mt-4" label="ادخل كلمة المرور" type="password" placeholder="ادخل كلمة المرور"
        icon="assets/icons/password-field.svg"></field>
        <field class=" block mt-4" label="تأكيد كلمة المرور" type="password" placeholder="أعد كتابة كلمة المرور"
        icon="assets/icons/password-field.svg"></field>
    <div class=" flex items-center   mt-6 mb-6">
        <fwtr-checkbox label=" أوافق على كل"></fwtr-checkbox>
        <p class=" text-secondary font-semibold mr-2"> الشروط والأحكام </p>

    </div>
    <fwtr-button class=" block mt-[23.5px]" label="طلب إنضمام"></fwtr-button>
    <p class=" text-center text-base mt-7 mb-8">لديك حساب بالفعل على فوترة ؟</p>
    <fwtr-button [routerLink]="['/auth/login']" class=" block pb-20 mt-[23.5px]" fill="outline" label="تسجيل دخول">
    </fwtr-button>
</div>