<div class=" w-full   mt-5 ">
    <div class=" flex flex-col lg:flex-row-reverse w-full  lg:gap-5 justify-between">
        <div class="flex items-center justify-between border-b-2 lg:border-0 border-[rgba(17,103,128,0.06)]">
            <img class=" lg:hidden w-36  py-5" src="assets/imgs/logo.png">
            <div class=" flex items-center">
                <fwtr-select class="block  " [items]="languages" placeholder="العربية" fill="language"></fwtr-select>
                <button class="lg:hidden block ms-3">
                    <img src="assets/icons/menu.svg">
                </button>
            </div>
        </div>
        <div class="  flex border-b lg:justify-between w-full lg:border-0 border-[rgba(17,103,128,0.06)]  items-center justify-between py-5">
            <div class=" flex items-center">
                <button class="  bg-primary w-12 h-12 flex justify-center items-center rounded-lg">
                    <img src="assets/icons/logo-only.svg">
                </button>
                <div class=" ms-3">
                    <p>
                        فهد الرشيدي
                    </p>
                    <p class=" text-gray">
                        متجر فود ماسترز
                    </p>
                </div>
                <img class="ms-2" src=" assets/icons/arrow-field.svg">
            </div>

            <div class="flex items-center">
                <button class=" bg-primary w-12 h-12 flex justify-center items-center rounded-lg relative">
                    <img src="assets/icons/notification-bing.svg">
                     <span class=" w-5 h-5 text-xs leading-5 text-center rounded-full absolute bg-danger -top-1 -right-2 text-white">
                         6
                     </span>
                </button>
                <button class=" ms-3 bg-secondary w-12 h-12 flex justify-center items-center rounded-lg relative">
                    <img src="assets/icons/message-text.svg">
                    <span class=" w-5 h-5 text-xs leading-5 text-center rounded-full absolute bg-danger -top-1 -right-2 text-white">
                        6
                    </span>
                </button>
            </div>
        </div>
    </div>


</div>