<div class="fixed w-[calc(100%-285px)]  bg-white  z-10">
    <div class=" flex flex-col lg:flex-row-reverse w-full  lg:gap-5 justify-between">
        <div class=" bg-secondary flex border-b lg:justify-between w-full lg:border-0 border-[rgba(17,103,128,0.06)]  items-center justify-between py-5">
            <div class=" flex items-center">
                <div class=" ms-3 flex items-center">
                    <img class="w-12 h-12 rounded-full mr-2" src="assets/imgs/userAvatar.jpg">
                    <p class=" font-semibold text-white">
                        John Doe
                    </p>
                </div>
                <img class="ms-2 arrow-icon" src=" assets/icons/arrow-field.svg">
            </div>
        </div>
    </div>


</div>