<div class="flex items-center justify-center w-full">
  
    <label for="toggleB" class="flex items-center cursor-pointer">
      <!-- toggle -->
      <div class="relative">
        <!-- input -->
        <input type="checkbox" id="toggleB" class="sr-only">
        <!-- line -->
        <div class="overlay block bg-[#e1dfdf] w-14 h-8 rounded-full"></div>
        <!-- dot -->
        <div class="dot absolute left-[3px] top-[3px] ps-1 bg-white w-[26px] h-[26px] rounded-full transition"></div>
      </div>
      <!-- label -->
  
    </label>
  
  </div>